<p id="notice"><%= notice %></p>

<h1>Contatos e seus acessos </h1>

<table>
 
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>URL acessada</th>
      <th>Data de acesso</th>
    </tr>
  </thead>


  <tbody>
    <% @contacttraces.each do |contacttrace| %>
      <tr>
        <td><%= contacttrace.contact.id %></td>
        <td><%= contacttrace.contact.email %></td>
        <td><%= contacttrace.url %></td>
        <td><%= contacttrace.date_access %></td>
      </tr>
    <% end %>
  </tbody>
</table>
